* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 1em;
  font-size: 18px;
  line-height: 1.5em;
}

h1 {
  font-size: 36px;
  line-height: 1em;
}

h2 {
  margin-top: 36px;
  font-size: 27px;
  line-height: 1em;
}

h3 {
  font-size: 18px;
  line-height: 1.5em;
}

a {
  color: #00c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #007;
}

p code {
  border: 1px dotted #999;
  background: #ddf;
  padding: 0 0.2em;
}

p img, figure img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

figcaption {
  text-align: center;
  font-size: 12px;
  line-height: 1.5em;
  margin-top: 18px;
}



pre {
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  overflow-x: scroll;
  border: 2px solid #999;
  margin: 1em 0;
  padding: 0.5em 1em;
  white-space: pre;
}

.highlight pre {
  background: #ffd;
}

.post > pre {
  background: #ddd;
}

.meta {
  color: #999;
}

.header {
  text-align: center;
}

.header .title a {
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  color: #a09;
}

.about {
  margin-top: 1em;
  margin-bottom: 2em;
  overflow: auto;
}

.about .photo img {
  max-width: 100%;
  border-radius: 0.5em;
  margin-top: 1em;
}

.posts {
  padding: 0;
  list-style: none;
}

.posts li {
  overflow: auto;
  clear: both;
  margin-bottom: 9px;
}

.posts .date {
  font-size: 13px;
  color: #999;
  display: block;
}

.related {
  background: #eee;
  color: #555;
  padding: 0.5em 1em;
  border: 1px dashed #999;
}

.related h2 {
  font-size: 18px;
  margin-top: 18px;
}

.keywords {
  font-size: 16px;
  color: #a09;
  line-height: 1em;
  margin-bottom: 1em;
}

.footer {
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 2em;
  border-top: 2px solid #999;
  overflow: auto;
}

.footer .contact {
  width: 50%;
  float: left;
}

.footer .links {
  width: 50%;
  float: right;
  text-align: right;
}

table {
  font-size: 0.8em;
  margin: 0 auto;
}

tr:nth-child(2n) {
  background: #f0f0f0;
}

tr:nth-child(2n+1) {
  background: #fff;
}

td, th {
  padding: 0 5px;
}

tbody th {
  text-align: left;
}

.r_output {
  max-width: 100%;
  overflow: scroll;
}

.r_output td, .r_output th {
  text-align: right;
}

label {
  display: block;
}

label .required {
  color: #c00;
  cursor: help;
}

input {
  margin-bottom: 1em;
  width: 100%;
}

input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: block;
  margin-top: 16px;
  font-size: 1.5em;
  padding: 0.5em 1em;
  background: #00c;
  color: #fff;
  border: none;
}

input[type=submit]:hover {
  background: #33e;
}

.clear {
  clear: both;
}

@media (min-width: 480px) {
  .about .photo {
    width: 60%;
    float: right;
    padding-left: 1em;
  }
}

@media (min-width: 560px) {
  .about .photo {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 32em;
    margin: 1em auto;
    font-size: 22px;
    line-height: 1.5em;
  }

  .about .photo {
    width: 40%;
  }

  .about .bio {
    width: 60%;
  }

  .posts .date {
    font-size: 14px;
    width: 7em;
    text-align: right;
    float: right;
  }

  h1 {
    font-size: 44px;
    line-height: 1em;
  }

  h2 {
    font-size: 33px;
    line-height: 1em;
  }

  h3 {
    font-size: 22px;
    line-height: 1.5em;
  }

  .header .title a {
    font-size: 33px;
  }

  pre {
    font-size: 18px;
    line-height: 22px;
  }

  .related h2 {
    font-size: 22px;
  }

  .footer {
    font-size: 22px;
  }

  input[type=submit] {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .mc-field-group {
    float: left;
    width: 50%;
    padding: 0 1em;
  }
}
