* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 1em;
  font-size: 18px;
  line-height: 1.5em;
}

h1 {
  font-size: 36px;
  line-height: 1em;
}

h2 {
  font-size: 27px;
  line-height: 1em;
}

h3 {
  font-size: 18px;
  line-height: 1.5em;
}

a {
  color: #00c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #007;
}

p code {
  border: 1px dotted #999;
  background: #ddf;
  padding: 0 0.2em;
}

p img {
  max-width: 100%;
}



pre {
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  overflow-x: scroll;
  border: 2px solid #999;
  margin: 1em 0;
  padding: 0 1em;
  white-space: pre;
}

.highlight pre {
  background: #ffd;
}

.post > pre {
  background: #ddd;
}

.meta {
  color: #999;
}

.header .title a {
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  color: #a09;
}

.footer {
  margin-top: 2em;
  border-top: 2px solid #999;
}




