<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-44043181-1', 'cowlet.org');
ga('send', 'pageview');</script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <span class="title"><a href="/">Victoria Catterson</a></span>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
          Victoria Catterson<br />
          vic@cowlet.org
          </p>
        </div>
        <div class="links">
          <p>
          <a href="https://github.com/cowlet">github.com/cowlet</a><br />
          <a href="https://twitter.com/cowlet">twitter.com/cowlet</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
