---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<div class="related">
  <h2>You might also like</h2>

  <ul>
    {% for post in site.related_posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div id="mc_embed_signup">
<form action="http://cowlet.us3.list-manage.com/subscribe/post?u=6b6fa41ac031020036515f1a5&amp;id=b5bdf4a22a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<h2>Like Data Science?</h2>
<p>Sign up to my list and I'll email you when I publish a new post.</p>
<div class="mc-field-group">
<label for="mce-EMAIL">Email <span title="Required" class="required">*</span></label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
<label for="mce-NAME">Name</label>
<input type="text" value="" name="NAME" class="" id="mce-NAME">
</div>
<div style="position: absolute; left: -5000px;"><input type="text" name="b_6b6fa41ac031020036515f1a5_b5bdf4a22a" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
